/*--------------------------------------------------------------
  이 구글폰트는 여기 전역에서 선언해야 정상 동작한다.
  다른 .css파일에서 선언하면 깨진 화면이 보이는 현상이 나온다. 
---------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
/*--------------------------------------------------------------

---------------------------------------------------------------*/
:root{
  --WIDTH:100vw;
  --HEIGHT:100vh;
  --FONTSIZE:20px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
