/*--------------------------------------------------------------
 메인페이지
---------------------------------------------------------------*/
.CMain{
  width:var(--WIDTH);
  height: calc(var(--HEIGHT)*2);
  background: linear-gradient(to right,rgba(0,0,0,0.8),rgba(0,0,0,0)),
         url('../image/root/study.png') no-repeat center center/cover;
}
/*--------------------------------------------------------------
  폰트
---------------------------------------------------------------*/
.CFont{  
  font-family: 'Bagel Fat One', serif;
}
.CFont_noto_sans_kr{
  font-family: "Noto Sans KR", serif;
  font-optical-sizing: auto;
}
/*--------------------------------------------------------------
  고정 영역(sticky)
---------------------------------------------------------------*/
.CNav{    
  display: flex;
  flex-flow: row nowrap;  
  justify-content: space-between;
  position: sticky;
  top:0px;
  z-index: 10;
}
/* 좌측 "공부의숲" 글씨 */
.CImage{
  margin-top: 8px;
  margin-left:32px;
}
/* 우측 "공부방만들기" 버튼 */
.CButton{    
  width: 300px;
  height:64px;
  margin-top:32px;
  margin-right: 32px;

  font-size: 32px;
  font-weight: 400;
  font-style: normal;
  color:white;
  border-radius: 20px;
  background-color: #99c08e;  
}
/*--------------------------------------------------------------
  공부방 만들기
---------------------------------------------------------------*/
/* 배경그림 그리드 모드 */
.CGridBoundary{
  border: 8px ridge gray;
}
.CGridLetter{  
  font-size: 20px;
  font-weight: 100;
  font-style: normal;
  color:white;
}
.CGrid{  
  display: grid;    
  grid-template-areas:
  'a1 a2 a3 a4'
  'b1 b2 b3 b4';
  gap: 6px;
}
.CGridBox{
  margin:4px;
}
/* .CGridBoxButton{
  border-radius: 16px;
  border:1px ridge rgb(128, 128, 128);
} */
.CGridBoxButton:hover{
  border:8px ridge rgb(255, 128, 64);
}
.CGridBoxImage{
  border-radius: 16px;
  border:4px ridge rgb(128, 128, 128);
}

.CGridBox1{
  grid-area: a1;
}
.CGridBox2{
  grid-area: a2;
}
.CGridBox3{
  grid-area: a3;
}
.CGridBox4{
  grid-area: a4;
}
.CGridBox5{
  grid-area: b1;
}
.CGridBox6{
  grid-area: b2;
}
.CGridBox7{
  grid-area: b3;
}
.CGridBox8{
  grid-area: b4;
}
/* 가입 , 아이템 생성 */
.CMakeRoom{    /* 플렉스 배열(위의 배경화면도 포함) */
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.CMakeRoomBox{
  position: relative;
  margin:4px;
}
.CLabel::before{
  content:'🔓'
}
.CLabel{  
  font-size: 20px;
  font-weight: 100;
  font-style: normal;
  color:white;
  position: absolute;
  left:-70%;  
}
.CInputText
{
  font-size: 16px;
  font-weight: 400;
  font-style: normal;

  border-radius: 12px;
  border:4px ridge gray;
  width: 150%;
  height: 36px;  
  padding-left: 8px;  
}
.CTextArea
{
  font-size: 16px;
  font-weight: 400;
  font-style: normal;

  border-radius: 12px;
  border:4px ridge gray;
  
  padding-left: 8px;  
}
/* 아이템 추가 버튼 */
.CAddButton{  
  font-size: 20px;
  font-weight: 100;
  font-style: normal;
  color:black;
}
/* 아이템 추가 */
.CItemBox{
  /* width:100%; */
  position: relative;
  margin:4px;
  display: flex;
  flex-flow: row nowrap;
}
.CItemLevel{  
  font-size: 20px;
  font-weight: 100;
  font-style: normal;
  color:white;
}
.CItemText
{
  font-size: 16px;
  font-weight: 400;
  font-style: normal;

  border-radius: 12px;
  border:4px ridge gray;
  
  padding-left: 8px;  

  /* width: 32px; */
}








